# xcode noise
*.mode1v3
*.pbxuser
*.perspective 
*.perspectivev3
*.pyc 
*~.nib/
build/*

# Textmate - if you build your xcode projects with it
*.tm_build_errors

# old skool
.svn

# osx noise
.DS_Store
profile
chucked too.xcodeproj/project.xcworkspace/contents.xcworkspacedata
chucked too.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
chucked too.xcodeproj/project.xcworkspace/xcuserdata/ekarkan.xcuserdatad/UserInterfaceState.xcuserstate
chucked too.xcodeproj/xcuserdata/ekarkan.xcuserdatad/xcschemes/xcschememanagement.plist
